.contact {
    .container-contact {
        max-width: 1440px;
        display: flex;
        justify-content: space-around;
        form {
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            gap: 24px;
            .name-mail {
                display: flex;
                gap: 24px;
                flex-direction: column;
            }
            .message-submit {
                display: flex;
                flex-direction: column;
                gap: 24px;
            }
            input {
                box-shadow: 0 5px 15px rgba(0,0,0,0.2);
                font-family: 'Poppins', sans-serif;
                font-size: 16px;
                border-radius: 10px;
                height: 38px;
                padding: 0 19px;
                border: 1px solid white;
                &:focus {
                    outline: none;
                }
                &:first-of-type {
                    width: 53.4vw;
                    max-width: 250px;
                }
                &:last-of-type {
                    width: 75.3vw;
                    max-width: 360px;
                }
                &::placeholder {
                    color: #CECECE;
                }
            }
            .err {
                border: 1px solid red;
            }
            textarea {
                box-shadow: 0 5px 15px rgba(0,0,0,0.2);
                font-family: 'Poppins', sans-serif;
                width: -webkit-fill-available;
                border: unset;
                border: 1px solid white;
                font-size: 16px;
                border-radius: 10px;
                padding: 0 19px;
                padding-top: 9px;
                min-height: 124px;
                resize: vertical;
                &:focus {
                    outline: none;
                }
                &::placeholder {
                    color: #CECECE;
                }
            }
            p {
                line-height: 0;
                width: -webkit-fill-available;
                text-align: end;
                margin: 0;
                font-size: 14px;
                color: rgb(99 99 99 / 42%);
            }
        }
        .container-undraw {
            display: none;
        }
        @media screen and (min-width: 425px) {
            margin-left: 6vw;
            margin-right: 6vw;
        }
        @media screen and (min-width: 768px) {
            form {
                .name-mail {
                    flex-direction: row;
                }
            }
        }
        @media screen and (min-width: 1024px) {
            margin: 0 auto;
            align-items: center;
            form {
                .name-mail {
                    flex-direction: column;
                }
            }
            .container-undraw {
                display: flex;
            }
        }
        @media screen and (min-width: 1600px) {
            justify-content: space-between;
        }
    }
}