.projects {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    h1 {
        margin: 0 3vw;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 16.2vw;
        line-height: 1;
    }
    .project-img {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 41px;
        img {
            width: 73.3vw;
        }
    }
    @media screen and (min-width: 425px) {
        h1 {
            margin: 0 6vw;
            font-size: 56px;
        }
    }
    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: center;
        h1 {
            margin: 0;
            margin-left: 2vw;
        }
        .project-img {
            flex-direction: row;
            justify-content: space-evenly;
            img {
                width: 44.2vw;
                max-width: 636.47px;
            }
        }
    }
    @media screen and (min-width: 1440px) {
        h1 {
            // margin: 0;
        }
    }
}