.projects {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    max-width: 1440px;
    
    .projects-container {
        width: 90vw;
        max-width: 1440px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 4rem;
        article {
            display: flex;
            flex-direction: column;
            img {
                box-shadow: 0 5px 15px rgba(0,0,0,0.2);
                width: 100%;
            }
            .description {
                box-shadow: 0 5px 15px rgba(0,0,0,0.2);
                background: #FFFF;
                padding: 1rem 2rem;
                span {
                    color: #B2967D;
                    font-size: 20px;
                    letter-spacing: 1px;
                }
                h3 {
                    font-weight: 500;
                    line-height: 0;
                    letter-spacing: .1rem;
                    text-transform: uppercase;
                }
                p {
                    margin-top: 40px;
                }
                .links {
                    margin-top: 2rem;
                    display: flex;
                    gap: 3px;
                    a {
                        all: unset;
                        cursor: pointer;
                        svg {
                            width: 33px;
                            fill: #B2967D;
                            transition: all 0.3s linear;
                            &:hover {
                                fill: #86715e;
                            }
                        }
                        // .project-link {
                        //     transition: all 0.3s linear;
                        //     width: 33px;
                        //     color: #B2967D;
                        //     &:hover {
                        //         color: #86715e;
                        //     }
                        // }
                    }
                }
            }
        }
    }
    @media screen and (min-width: 1024px) {
        margin: 0 auto;
        .projects-container {
            flex-direction: row;
            justify-content: space-around;
            article {
                width: 100%;
            }
        }
    }
}