.navbar {
    padding: 15px 30px;
    position: sticky;
    top: 0;
    z-index: 2;
    &.nav-bg {
        background: rgba(255, 251, 251, 0.63);
        transition: all .3s ease-in;
    }
    &.nav-not-bg {
        transition: all .3s ease-out;
    }
    .logo-link {
        height: 60px;
    }
    img {
        width: 60px;
    }
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Jost', sans-serif;
    font-size: 25px;
    ul {
        display: flex;
        gap: 44px;
        list-style: none;
        padding: 0;
        margin: 0;
        li {
            &.active::after {
                transform: scaleX(1);
                transform-origin: 0% 50%;
            }
            &::after {
                display:block;
                content: '';
                border-bottom: solid 3px;
                border-image: linear-gradient(45deg, #F87537 0%, #FBA81F 100%) 1;  
                transform: scaleX(0);  
                transition: transform 250ms ease-in-out;
                transform-origin: 100% 50%;
            }
            &:hover::after {
                transform: scaleX(1);
                transform-origin: 0% 50%;
            }
        }
        a {
            color: #000;
            text-decoration: none;
        }
    }
    .burger {
        height: 40px;
        background: transparent;
        border: none;
        color: inherit;
        display: none;
    }
    
    @media screen and (max-width: 767px) {
        padding: 10px;
        .burger {
            display: block;
            position: fixed;
            top: 1rem;
            right: 1rem;
            &:hover {
                cursor: pointer;
            }
            .burger-bar, .burger-bar::before, .burger-bar::after {
                display: block;
                width: 40px;
                height: 4px;
                position: relative;
                border-radius: 3px;
                background: black;
                transition: all .3s ease-in-out;
            }
            .burger-bar::before, .burger-bar::after {
                content: "";
                position: absolute;
                left: 0;
            }
            .burger-bar::before {
                transform: translateY(-12px);
            }
            
            .burger-bar::after {
                transform: translateY(12px);
            }
        }
        ul {
            gap: 4rem;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: fixed;
            right: -100vw;
            bottom: 0;
            width: 0;
            height: 100vh;
            visibility: hidden;
            background: black;
            transition: all .5s ease-out;
            li {
                display: block;
                font-size: 5vw;
                &::after {
                    all: unset;
                }
            }
            a {
                color: #FFFF;
            }
        }
        &.show-nav {
            .burger {
                .burger-bar, .burger-bar::before, .burger-bar::after {
                    background: #FFFF;
                }
                .burger-bar::before {
                    transform: rotate(45deg);
                }
                .burger-bar::after {
                    transform: rotate(-45deg);
                }
                .burger-bar {
                    background: transparent;
                }
            }
            ul {
                visibility: visible;
                right: 0;
                width: 100vw;
            }
        }
    }
    @media screen and (min-width: 1024px) {
        font-size: 30px;
    }
    @media screen and (min-width: 1440px) {
        font-size: 32px;
    }
}