.welcome {
    display: grid;
    align-items: center;
    max-width: 1440px;
    .presentation {
        margin-left: 3vw;
        animation: left-right 1s;
        h1 {
            margin-bottom: 9px;
            font-weight: 700;
            line-height: 1;
            font-size: 11vw;
        }
        p {
            font-weight: 500;
            font-size: 6vw;
            margin-top: 17px;
            line-height: 1;
            color: rgba(134, 134, 134, 0.68);
        }
        a.btn {
            all: unset;
            cursor: pointer;
            letter-spacing: 0.1rem;
            padding: 0.3rem 0.25rem;
            text-transform: uppercase;
            background: #B2967D;
            font-weight: 500;
            border: 2px solid transparent;
            border-radius: 5px;
            box-shadow: 0 1px 3px rgb(0 0 0 / 20%);
            transition: all 0.3s linear;
            color: azure;
            &:hover {
                color: rgb(36, 36, 36);
                background: #E7D8C9;
            }
        }
        .social-links {
            margin-top: 25px;
            display: flex;
            gap: 23px;
            svg {
                width: 33px;
                fill: black;
                transition: all 0.3s linear;
                &:hover {
                    fill: #B2967D;
                }
            }
        }
    }
    .scroll-link {
        display: none;
        animation: scroll-appartition .5s;
    }
    @keyframes scroll-appartition {
        from {
            opacity: 0;
        } to {
            opacity: 1;
        }
    }
    @keyframes scroll-disappearance {
        from {
            opacity: 1;
        } to {
            opacity: 0;
        }
    }
    .is-scrolled {
        animation: scroll-disappearance .5s;
        display: none!important;
    }
    @media screen and (min-width: 425px) {
        .presentation {
            margin-left: 6vw;
            h1 {
                font-size: 47px;
            }
            p {
                font-size: 26px;
            }
        }
    }
    @media screen and (min-width: 1024px) {
        display: flex;
        justify-content: space-around;
        align-items: center;
        .presentation {
            margin: 0;
            h1 {
                font-size: 54px;
            }
            p {
                font-size: 22px;
            }
        }
        .circle-1, .circle-2 {
            animation: scroll 2s infinite linear;
            opacity:0;
          }
          
          .circle-2{
            animation-delay: 1s;
          }
          
          @keyframes scroll {
            0% {
              cy: 4;
              opacity: 0;
            }
            45%, 55% {
              opacity: 1;
              cy: 9;
            }
            100% {
              cy: 14;
              opacity: 0;
            }
          }
          
        .scroll-link {
            display: block;
            position: absolute;
            bottom: 1rem;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    @media screen and (min-width: 1440px) {
        .presentation {
            h1 {
                font-size: 64px;
            }
            p {
                font-size: 24px;
            }
        }
    }
    @media screen and (min-width: 1600px) {
        justify-content: space-between;
    }
}