@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&family=Poppins:wght@400;700');

body {
  margin: 0;
  background: #FFEDED;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
	height: 50px;
}

.welcome {
	section {
		height: calc(100vh - 70px);
	}
}
