@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&family=Poppins:wght@400;600;700');

* {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #ECF8F8;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.divider {
  width: 5rem;
  height: 3px;
  background: #B2967D;
}

.waves {
  background: #F5FEFE;
  width: 100%;
  height: 200px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.social-links {
  margin-top: 25px;
  display: flex;
  gap: 23px;
  svg {
      width: 33px;
      fill: black;
      transition: all 0.3s linear;
      &:hover {
          fill: #B2967D;
      }
  }
}

.App {
  .pages {
    display: flex;
    flex-direction: column;
    align-items: center;
    .container {
      width: -webkit-fill-available;
      section:not(.projects) {
        @media screen and (min-width: 1024px) {
          margin: auto;
        }
      }
      section:not(.welcome) {
        padding: 5rem 0;
      }
    }
  }
}

section {
  &:nth-child(2n) {
    background: #F5FEFE;
  }
  h2 {
    font-weight: 600;
    font-size: 35px;
    line-height: 0;
  }
  .btn {
    all: unset;
    cursor: pointer;
    letter-spacing: 0.1rem;
    padding: 0.3rem 0.25rem;
    text-transform: uppercase;
    background: #B2967D;
    font-weight: 500;
    border: 2px solid transparent;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgb(0 0 0 / 20%);
    transition: all 0.3s linear;
    color: azure;
    &:hover {
        color: rgb(36, 36, 36);
        background: #E7D8C9;
    }
  }
  p {
    line-height: 2;
    color: #424242;
    letter-spacing: 1px;
  }
  .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
  }
  ul.hard-skills {
    text-transform: uppercase;
    letter-spacing: .05rem;
    list-style: none;
    gap: .4rem .6rem;
    flex-wrap: wrap;
    display: flex;
    padding: 0;
    li {
        margin: 0;
        padding: .25rem .2rem;
        color: azure;
        background: #E6BEAE;
        border: 2px solid transparent;
        border-radius: 5px;
    }
  }
  .container-undraw {
    display: flex;
    justify-content: center;
    [class^=undraw-] {
      width: 86vw;
      height: intrinsic;
      max-width: 448.92px;
      text-align: center;
    }
  }
  @media screen and (min-width: 768px) {
    h2 {
      font-size: 40px;
    }
  }
  @media screen and (min-width: 1024px) {
    .container-undraw {
      [class^=undraw-] {
          max-width: 413px;
      }
    }
  } 
  @media screen and (min-width: 1440px) {
    .container-undraw {
      [class^=undraw-] {
          max-width: 464.58px;
      }
    }
  }
}

.welcome {
  min-height: calc(100vh - 80px);
  @media screen and (min-width: 768px) {
    min-height: calc(100vh - 90px);
  }
}

@keyframes fade-in {
  from {
      opacity: 0;
  } to {
      opacity: 1;
  }
}
@keyframes left-right {
  from {
      opacity: 0;
      transform: translateX(-400px);
  } to {
      opacity: 1;
      transform: translateX(0);
  }
}