.about {
    min-height: 68vh;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .about-text {
        margin: 0 3vw;
        h1 {
            text-transform: uppercase;
            font-weight: 700;
            font-size: 16.2vw;
            line-height: 0;
        }
    }
    @media screen and (min-width: 425px) {
        .about-text {
            margin: 0 6vw;
            h1 {
                font-size: 56px;
            }
        }
    }
    @media screen and (min-width: 768px) {
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-around;
        margin-top: unset;
        .about-text {
            margin: 0;
            max-width: 748.8px;
            width: 52vw;
        }
    }
    @media screen and (min-width: 1440px) {
        .about-text{
            h1 {
                font-size: 64px;
            }
        }
    }
    @media screen and (min-width: 1750px) {
        justify-content: space-evenly;
    }
}